In [2]:
import pandas as pd

filepath = '../datasets/athletes/'

data_main = pd.read_csv(filepath + 'Medals.csv', encoding = 'ISO-8859-1')

In [4]:
data_main.head()

            Athlete   Age     ...       Bronze Medals Total Medals
0    Michael Phelps  23.0     ...                   0            8
1    Michael Phelps  19.0     ...                   2            8
2    Michael Phelps  27.0     ...                   0            6
3  Natalie Coughlin  25.0     ...                   3            6
4     Aleksey Nemov  24.0     ...                   3            6

[5 rows x 8 columns]